/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.toast-message-section {
  font-family: "Poppins", sans-serif;
  height: 60px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 20px;
}

.toast {
  color: #1c1c1e;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* background: white; */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  margin: 25px 0;
  position: relative;
}

.toast i {
  margin-right: 10px;
  /* color: green; */
  font-weight: 600;
  font-size: 20px;
}

.toast::after {
  content: "";
  width: 100%;
  height: 5px;
  background: var(--after-color, green);
  animation: timer 4s linear forwards;
  border-radius: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes timer {
  100% {
    width: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #fdfbf7;
  -webkit-font-feature-settings: off;
  transition: background-color 9999s ease-in-out 0s;
}
